body {
    background-color: hsl(181, 100%, 9%);
}

.container {
  max-width: 66%;
  width: 100%;
  margin: auto;
}

.grid {
  display: grid;
  gap: 35px;
  padding: 5px;
  grid-auto-rows: minmax(30px, auto);
}

.lastProject {
  grid-area: lastProject;
}

.another {
  grid-area: another;
  grid-template-columns: 1fr 2fr 1fr;
}

.another div {
  text-align: center;
}

.template {
  grid-template-areas:
    "lastProject"
    "another";
  place-self: center;
  text-align: center;
}

.box a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  min-height: 100px;
  border-radius: 10px;
  background: linear-gradient(145deg, #005153, #006062);
  box-shadow: 1px 5px 10px #003738, -1px -5px 10px #007d80;
  border: medium double wheat;
  text-decoration: none;
}

.box a:hover {
  font-weight: bold;
  border: medium double crimson;
  box-shadow: 1px 5px 10px #003738, -1px -5px 10px crimson;
  cursor: pointer;
}
