.container {
  width: 35%;
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.center-in-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
}

.center-horizontal {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
}

.p-relative {
  position: relative;
}

.d-none {
  display: none;
}

.full-size {
  width: 100%;
}

.grid {
  display: grid;
  gap: 0;
}

.col-g-1-1-1 {
  grid-template-columns: 4fr 4fr 4fr;
}

.col-g-1-1 {
  grid-template-columns: 6fr 6fr;
}

.xo-box div {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  height: 200px;
  border: thin solid darkgoldenrod;
}

.starter {
  margin: 25px 0;
}

.win {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 15px 20px greenyellow;
}

.btn {
  font-size: 1.1em;
  font-weight: bold;
  background-color: whitesmoke;
  border: medium solid crimson;
  box-shadow: 1px 5px 10px crimson;
  padding: 15px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}